
.address_info{
    background-color: blue;
    color: red;

    .address{
    
        p{
            color: green;

            &:hover{
                color: blue;
            }

        }

    }
}
