.login_overlay {
    height: 100%;
    width: 100%;
    background-color: tomato;
    position: relative;
    z-index: 998;
}

#login {
    display: none;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}

#register {
    display: none;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}